.navbar {
    background-color: #ffffff;
    letter-spacing: 1px;
    font: 400 10rem 'TH SarabunPSK', sans-serif !important;
    display: block;
    text-transform: uppercase !important;
    font-weight: bold;

    .container-fluid {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    & li {
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-weight: normal;
        font-size: 16px;
        margin-right: 5px;

        &:active {
            color: #a5c562 !important;
            background-color: #ffffff !important;
            font-weight: bold;
            font-size: 16px;
        }

        & a {
            color: #a5c562 !important;
            padding-top: 12px;
            padding-bottom: 12px;
            font-weight: bold;
            font-size: 16px;

            &:hover {
                color:#a5c562 !important;
                background-color: #ffffff !important;
                text-decoration: none !important;
                font-weight: bold;
            }
        }
    }

    & .messages {
        display: flex;
        align-items: center;
        flex-direction: column;

        & .alert {
            width: 33vw;
            display: flex;
            flex-direction: row;
            padding: 0.5rem;
            transition: all 0.6s ease;

            &.success {
                background-color: $green-success;
                color: darken($green-success, 30%);
            }

            &.danger {
                background-color: #b93f64;
                color: darken($red-danger, 30%);
            }

            & .remove-button {
                display: flex;
                align-items: center;
                margin-left: auto;
                & i:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}

.navbar-brand a {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}